{% extends 'base.html.twig' %}

{# Après avoir configuré le fichier config/packages/twig.yaml avec le thème qu'on souhaite utiliser, on vient l'appeler dans la view concerné. J'avais fait un test sans cette ligne et ça a amrché, mais dans le doute je l'ai rajouté quand même #}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'un article</h1>

    {# form_start c'est une méthode de Twig qui va ouvrir la balise form avec la bonne méthode et les bonnes actions nécéssaires au bon fonctionnement du formulaire #}
    {{ form_start(formArticle) }}

    {{ form_widget(formArticle) }} 

    {# On crée le bouton ici et non pas directement dans le createFormBuilder, parce qu'éventuellment on pourra utiliser ce même form dans une autre view avec un autre bouton, alors on metrra chaque bouton dans sa vue spécifique #}
    <button type="submit" class="btn btn-success">Ajouter l'article</button>

    {# Une fois qu'on a fini de travailler avec le form on ferme la balise#}
    {{ form_end(formArticle) }}

{% endblock %}