{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum placeat consectetur reiciendis officia dolores quibusdam vitae sit ducimus ullam, accusantium iste aliquam velit veniam aspernatur, modi dolorem sed, provident nisi.</p>
<p>Aliquam illum esse excepturi deserunt labore. Quisquam earum ipsam consectetur voluptatibus facere? Architecto numquam ab dicta laboriosam a autem tempore cupiditate maiores error? Pariatur magni voluptate odit libero illo debitis.</p>

{% endblock %}
